<?php

# Specify the connection details for the testing database.
# Make sure it doesn't contain anything you want to keep as all data will be lost!
define("DB_HOST", "");
define("DB_USER", "");
define("DB_PASSWORD", "");
define("DB_NAME", "");
